body {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0;
}

.calc-body {
  border: 3px solid black;
  box-sizing: border-box;
  min-height: 490px;
  min-width: 350px;
}

.row {
  display: flex;
}

#display {
  height: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#display > p {
  font-size: 44px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.small-btn {
  padding: 10px 12px;
  min-height: 87px;
  min-width: 87px;
}

.big-btn {
  padding: 10px 12px;
  min-height: 87px;
  min-width: 174px;
}
